*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 70px auto 0;
}
.main img{
    margin-bottom: 25px;
}

input{
    width: 560px;
    padding: 13px 15px;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid lightgray;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 300;
}
input:hover{
    box-shadow:0 4px 6px rgba(0,0,0,0.09), 0 2px 2px rgba(0,0,0,0.05);
}
.searchBtn{
    margin-top: 30px;
}
.searchBtn .btn{
    border: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 3px;
    background: #f8f9fa;
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2), -1px -1px 2px 0px rgba(0,0,0,0.2);

}